<%-include("partials/header");-%>
<div class="auth-container">
    <form class="auth-form" onsubmit="sendEmail(); reset(); return false; " action="/" method="post" >
      <h3 class="auth-h3">Enter Email</h3>
      <Input class="auth-input" type="email"name="email" id="email" placeholder="Your email" required> </Input>
      <button class="btn  btn-dark" type="submit">Send</button>
      <br>
      <h6 style="text-align: center;">OR</h6>
      <a class="btn btn-lg btn-primary"  href="/auth/google" role="button">
        <!-- <i class="fab fa-google"></i> -->
         <img style="height: 30px; width: 30px;" src="image/google-logo.png" alt=""> 
          Sign up with Google
      </a>
    </form>
    

  </div>

  <script src="https://smtpjs.com/v3/smtp.js"></script>
  <script>
 function sendEmail(){
     Email.send({
  Host : "smtp.elasticemail.com",
  Username : "mikeokpechi@gmail.com",
  Password : "B9184735EAB96BF411E0B7AF112CD6A0B90A",
  To : document.getElementById("email").value,
  From :'mikeokpechi@gmail.com',
  Subject : "Verification email",
  Body : "click to verify: https://gpa-simulator.herokuapp.com/register. Unable to click?, remove from spam if currently there"
  }).then(
  message => alert(message+"\nSUCCESSFUL\nA verification email has been sent")

  );

    }

  </script>
  <%- include("partials/footer");-%>
