<%-include("partials/header");-%>
<form class="text-center fontUbuntu" action="/" method="post">
 <h1 id="title">Gpa Simulator</h1>
 <!-- <a type="button" name="button" class="btn btn-lg btn-outline-light" href="simulate.html">Click to start</a> -->
 <div class="row ">
   <div id="" class="col-lg-12   ">

     <div class="col-lg-12  ">
       <label class ="label">Number of Courses:
       <input type="text" name="amountOfCourses" value="" class="">
       </label>
       <button type="submit" class="btn btn-outline-light ">+</button>

     </div>

   </div>
 </div>

<!-- <img class="size" src="image/bicycle.png" alt="bicycle"> -->
</form>

<!-- <video class ="video" width="320" height="240" controls autoplay>
  <source src="videos/countDown.mp4" type="video/mp4">
  <!-- <source src=".ogg" type="video/ogg"> -->
  <!-- Your browser does not support the video tag.
</video> -->
<%- include("partials/footer");-%>
